<!doctype>
<html  xmlns:th="http://www.thymeleaf.org">

<!-- HEAD LAYOUT -->
<head th:fragment="head">
<meta charset="utf-8"/>
<script src="js/jquery.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<link rel="stylesheet"
	href="css/bootstrap.min.css">
<script
	src="js/bootstrap.min.js"></script>

<link rel="icon" href="img/favicon.ico" type="image/x-icon">

<link rel="stylesheet"
	href="css/index/index.css">
</head>

	<!-- NAVEGADOR LAYOUT -->

	<div class="shadow-none pt-2 pb-2 mb-1 bg-light rounded col-12" id="navegador" th:fragment="navegador">
		  <nav class="text-center row">
		  	<div class="col-6 col-sm-3">
				<ul class="navbar-nav col-sm-4 offset-sm-4">
				    <li class="nav-item dropdown">
				      <a class="nav-link " href="/">
				        Home
				      </a>
				    </li>
				</ul>
		  	</div>
		  	<div class="col-6 col-sm-3">
				<ul class="navbar-nav col-sm-4 offset-sm-4">
				    <li class="nav-item dropdown">
				      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
				        Ambulatorio
				      </a>
				      <div class="dropdown-menu">
				        <a class="dropdown-item" href="/atencionAmbulatoria">Atención</a>
				      </div>
				    </li>
				</ul>
		  	</div>
		  	<div class="col-6 col-sm-3">
				<ul class="navbar-nav col-sm-4 offset-sm-4">
				    <li class="nav-item dropdown">
				      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
				        Internaciones
				      </a>
				      <div class="dropdown-menu">
				        <a class="dropdown-item" href="/solicitudInternacion">Solicitud</a>
				        <a class="dropdown-item" href="/consultaAutorizaciones">Consulta de autorización</a>
				        <a class="dropdown-item" href="/consultaInternaciones">Consulta internación</a>
				        <a class="dropdown-item" href="/egresoInternacion">Egreso</a>
				      </div>
				    </li>
			    </ul>
		  	</div>
		  	<div class="col-6 col-sm-3">
				<ul class="navbar-nav col-sm-4 offset-sm-4">
				    <li class="nav-item dropdown">
				      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
				        Auditoría
				      </a>
				      <div class="dropdown-menu">
				        <a class="dropdown-item" href="/solicitudAuditoria">Solicitudes de auditoría</a>
				        <a class="dropdown-item" href="/consultaAuditoria">Consulta</a>
				      </div>
				    </li>
			    </ul>
		  	</div>
		  </nav>
	</div>

	<!-- PIE LAYOUT -->

	<div class="col-12" id="pie" th:fragment="pie">
	<br>
		<div class="list-group text-center">
		  <a href="#" class=" disabled">Clinica Modelo SRL</a>
		  <a href="#" class=" disabled">Av. Directorio 8276</a>
		  <a href="#" class="">Ciudad Autónoma de Buenos Aires</a>
		</div>
	<br>
	</div>

</html>